astroid==2.2.5
certifi==2022.12.7
chardet==3.0.4
colorama==0.4.1
Django==2.2.1
django-bootstrap-form==3.4
django-filter==2.1.0
django-rss-xml-parser==0.4
djangorestframework==3.9.2
djangorestframework-jsonp==1.0.2
doqu==0.28.2
entrypoints==0.3
feedparser==5.2.1
flake8==3.7.7
idna==2.6
isort==4.3.17
lazy-object-proxy==1.3.1
mccabe==0.6.1
numpy==1.16.3
polls==0.0.4
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.3.1
python-firebase==1.2
pytz==2017.3
requests==2.18.4
scipy==1.2.1
six==1.12.0
sqlparse==0.3.0
tqdm==4.31.1
typed-ast==1.3.4
urllib3==1.22
virtualenv==16.4.3
virtualenvwrapper-win==1.2.5
wrapt==1.11.1
